<%- include('./partials/header-backbutton'); -%>
<section class='detail'>
	<div class='poster' style='background-image: url("<%= jData['Poster'] %>")'>
		
	</div>
	<section class='movie-info'>
		<div class='basic-info'>
			<h1>
				<%= jData['Title'] %>
			</h1>
			<p>
			Director: <%= jData["Director"] %>
			</p>
			<p>
				Released: <%= jData["Released"] %>
			</p>
		</div>
		<div class='score'>
			<p>
				<img src='assets/metacritic_logo.svg'> &nbsp; <%= jData["Metascore"] %>
			</p>
			<p>
				<img id='imdb-logo' src='assets/IMDB_Logo_2016.svg'> &nbsp; <%= jData["imdbRating"] %>
			</p>
		</div>
		<div class='plot'>
			<p>
				<span class='bold'>Plot</span>
			</p>
			<p>
			<%= jData["Plot"] %>
			</p>
		</div>
	</section>

</section>
<%- include('./partials/footer'); -%>