<%- include('./partials/header'); -%>
<section class='col-11 col-mx-auto'>
	<div class='poster' style='background-image: url("<%= jData['Poster'] %>")'>
		
	</div>
	<h2>
		<%= jData['Title'] %>
	</h2>
	<p>
		<%= jData["Plot"] %>
	</p>
	<p>
		Released: <%= jData["Released"] %>
	</p>
	<p>
		Director: <%= jData["Director"] %>
	</p>
	<p>
		Metascore: <%= jData["Metascore"] %>
	</p>
	<p>
		IMDB Rating: <%= jData["imdbRating"] %>
	</p>
</section>
<%- include('./partials/footer'); -%>