<%- include('./partials/header'); -%>
<section class='col-10 col-mx-auto'>
	<h1>
		Results
	</h1>
	<ul>
	<% if(jData['Response'] === 'True'){ %>
		<% jData['Search'].forEach((movie) => { %>
			<li class="movie card col-11 col-mx-auto" value='<%= movie['imdbID'] %>' style='background-image: url("<%= movie['Poster']%>");'>
  				<div class="card-header" value='<%= movie['imdbID'] %>'>
    				<div class="card-title h5" value='<%= movie['imdbID'] %>'><%= movie['Title'] %></div>
  				</div>
			</li>
		<%	}) %>
	<% } else{ %>
			<li class="col-11 col-mx-auto">
				<p>
					Sorry, no movies found. Try again!
				</p>
			</li>	
	<% } %>
	</ul>
</section>

<%- include('./partials/footer'); -%>