<%- include('./partials/header'); -%>
<section class='col-8 col-mx-auto'>
	<h1>
		Welcome to Result Page!
	</h1>
	<ul class='columns'>
	<% if(jData['Response'] === 'True'){ %>
		<% jData['Search'].forEach((movie) => { %>
			<li class="movie card col-4" name='<%= movie['imdbID'] %>'>
  				<div class="card-image">
    				<img src="<%= movie['Poster']%>" class="img-responsive">
  				</div>
  				<div class="card-header">
    				<div class="card-title h5"><%= movie['Title'] %></div>
  				</div>
			</li>
		<%	}) %>
	<% } else{ %>
			<li class="col-12">
				<p>
					Sorry, no movies found. Try again!
				</p>
			</li>	
	<% } %>
	</ul>
</section>

<%- include('./partials/footer'); -%>