<%- include('./partials/header-backbutton'); -%>
<section class='results'>
	<h1>
		We found this movies for you :D
	</h1>
	<ul class='movie-list'>
	<% if(jData['Response'] === 'True'){ %>
		<% jData['Search'].forEach((movie) => { %>
			<li class="movie movie-card" value='<%= movie['imdbID'] %>' style='background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("<%= movie['Poster']%>");'>
    			<div class="card-title bold" value='<%= movie['imdbID'] %>'><%= movie['Title'] %></div>
			</li>
		<%	}) %>
	<% } else{ %>
			<li class="col-11 col-mx-auto">
				<p>
					Sorry, no movies found. Try again!
				</p>
			</li>	
	<% } %>
	</ul>
</section>

<%- include('./partials/footer'); -%>