<%- include('./partials/header-backbutton'); -%>
<section class='results'>
	<h1>
		<%  if(jData['Response'] === 'True'){  %>
		We found this movies for you :D
		<% } else{ %>
		Sorry, but no movies were found... Try again...
		<% } %>
	</h1>
	<ul class='movie-list'>
	<% if(jData['Response'] === 'True'){ %>
		<% jData['Search'].forEach((movie) => { %>
			<li class="movie movie-card" value='<%= movie['imdbID'] %>' style='background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("<%= movie['Poster']%>");'>
    			<div class="card-title bold" value='<%= movie['imdbID'] %>'><%= movie['Title'] %></div>
			</li>
		<%	}) %>
	<% } else{ %>
			<li class='movie-card'>
				<img class='not-found' src='assets/not-found.jpg'>
			</li>	
	<% } %>
	</ul>
</section>

<%- include('./partials/footer'); -%>